.home-button {
    border: none;
    outline: none;
    width: stretch;
    margin-top: 5%;
    font-family: "Roboto", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #DDDDDD;
    padding: 40px 7%;
    border-radius: 20px;  
    text-align: center;
    /* background: rgba(247, 195, 164, 0.85); */
}

.choose-organization {
    outline: none;
    padding: 40px 7%;
    border: none;
    margin-top: 25px;
    margin-bottom: 5%;
    display: block;
    width: stretch;
    text-align: center;
    background: rgba(177, 177, 177, 0.85);
    border-radius: 20px;
}